<html>
<body>
  <h1>Curso GoNode - Desafio 1</h1>
  <form action="/check" method="POST">
    <label for="age">Age</label>
    <input type="text" name="age" id="age">
    <button type="submit">Enviar</button>
  </form>
</body>
</html>
