{% include "base/template.njk" %}
  <h1>GoNode - Desafio 1</h1>
  <form action="/check" method="POST">
    <div class="form-group">
      <label for="age">Age</label>
      <input type="text" name="age" id="age" autocomplete="off" >
    </div>
    <button type="submit">Enviar</button>
  </form>
